
			*{ padding:0px; margin:0px; }
			h3{ margin: 10px 10px 0px 10px; color:#FFF; font:16pt Arial, sans-serif; letter-spacing:-1px; font-weight: bold;  }
			
			.boxgrid{ 
				width: 298px; 
				height: 298px; 
				margin-top:20px; 
				float:left; 
				background:#161613; 
				border: solid 1px #ccc; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
				}
				.boxgrid p{ 
					padding: 0 10px; 
					color:#afafaf; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 100px; 
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
			
			.boxcaption a
			{
				color:#FFC;
				
			}
 				
 				.caption .boxcaption {
 					top: 260px;
 					left: 0;
 				}